<div class="card">
  <div class="card-header">
    {{ entityId }}
  </div>
  <div class="card-body">
    <!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" href="#info" role="tab" data-toggle="tab">
	    	{{ 'Additional Info' | translate }}
	    </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#occurrences" role="tab" data-toggle="tab">
	    	{{ 'Occurrences' | translate }}
	    </a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#xml" role="tab" data-toggle="tab">
	    	{{ 'XML' | translate }}
	    </a>
	  </li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
	  	<div role="tabpanel" class="tab-pane fade in active" id="info">
	  		Informazioni aggiuntive
	  	</div>
	  	<div role="tabpanel" class="tab-pane fade" id="occurrences">
	  		Occorrenze
	  	</div>
	  	<div role="tabpanel" class="tab-pane fade" id="xml">
	  		XML SOURCE
	  	</div>
	</div>
  </div>
</div>