<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
    <span *ngIf="editionConfig">{{ editionConfig.title | translate:lang }}</span>
  </a>

  <div class="btn-group" role="group">
    <button *ngIf="uiConfig && uiConfig.localization"
    	id="btnGroupDrop1" type="button" class="btn dropdown-toggle" 
    	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ 'Change language' | translate:lang }}
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" (click)="selectLanguage('en');" href="#">
        <img src="/assets/images/en.png" height="30" class="rounded-circle" alt=""/>
          {{ 'English' | translate:lang }}</a>
      <a class="dropdown-item" (click)="selectLanguage('it');" href="#">
        <img src="/assets/images/it.png" height="30" class="rounded-circle" alt=""/>
          {{ 'Italian' | translate:lang }}</a>
    </div>
  </div>
</nav>