<div class="card-header" [attr.id]="'heading_' + data.id">
	<h5 class="mb-0">
	<button class="btn btn-link" data-toggle="collapse" 
		[attr.data-target]="'#collapse_' + data.id"
		aria-expanded="true" 
		[attr.aria-controls]="data.id">
		{{ data.label }} (#{{ data.id }})
	</button>
	</h5>
</div>
<div [attr.id]="'collapse_' + data.id" class="collapse show" 
	[attr.aria-labelledby]="'heading_' + data.id" data-parent="#datas">
	<div class="card-body">
		{{ domUtils.getOuterHTML(data.xmlSource) }}
		<br/>
		<span *ngFor="let element of data.content">
			<evt-content-viewer [content]="element" ></evt-content-viewer>
		</span>
	</div>
</div>