<span>
  <evt-generic-element *ngIf="parsedContent?.type === 'generic-element'" [data]="parsedContent"></evt-generic-element>
  <evt-text *ngIf="parsedContent?.type === 'text'" [data]="parsedContent"></evt-text>
  <evt-note *ngIf="parsedContent?.type === 'note'" [data]="parsedContent"></evt-note>
  <evt-named-entity-ref *ngIf="parsedContent?.type === 'named-entity'" [data]="parsedContent"></evt-named-entity-ref>
</span>
