<span class="namedEntityRef {{ data.entityType }}" (click)="goToEntityInList($event)">
	<span *ngFor="let element of data.content">
		<evt-content-viewer [content]="element" ></evt-content-viewer>
	</span>
</span>

<evt-named-entity *ngIf="visible" [entityId]="data.entityId"></evt-named-entity>