<a href="#" #noteTrigger class="popover-toggle evt-trigger">
	<fa name="sticky-note" class="evt-trigger-icon"></fa></a>
<div #noteContent style="display: none">
	<p> {{ data.xpath }} </p>
	<span *ngFor="let element of data.content">
		<evt-content-viewer [content]="element" ></evt-content-viewer>
	</span>
</div>
